{{define "content"}}
<div class="starter-template">
	<h1>New Item</h1>
	<form action="" method="post" class="text-left">
		<div class="form-group">
			<label for="itemname">Message</label>
			<textarea class="form-control" id="message" name="message" placeholder="message" required="required"></textarea>
		</div>
		<input type="hidden" name="key" value="{{.key}}">
		<button type="submit" class="btn btn-default">Submit</button>
		<button type="reset" class="btn btn-reset">Reset</button>
	</form>
</div>
{{end}}
