{{define "content"}}
<div class="starter-template">
	<h1>Tip</h1>
	<p class="lead">
	Image service url (google CND) will never change url, event if you delete that blob
	</p>
	<ul class="list-group text-left">
		{{range $idx, $photo := .photos}}
		<li class="list-group-item">Upload at : {{$photo.UploadDate}}, {{$photo.Caption}},
		<br/><a href="/blobstore/?key={{$photo.ImageKey}}">Serve image from blobstore</a>
		<br/><a href="{{$photo.ImageUrl}}=s0">Serve image from google CND</a>
		<br/><a href="{{$photo.ImageUrl}}=s120">Serve thumbnail(1) from google CND</a>
		<br/><a href="{{$photo.ImageUrl}}=s120-c">Serve thumbnail(2) from google CND</a>
		</li>
		{{end}}
	</ul>
</div>
{{end}}
